.form{
     margin: 10px;
     border: solid 1px;
     border-radius: 5px;
     background-color: whitesmoke
}

button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.css-1e6y48t-MuiButtonBase-root-MuiButton-root {color: #fc906a;font-size: large;border: solid 0.75px;}